<form action="/resolver" method="POST">
   <div class="ui input">
     <input name="arg" value="<% hostname %>" size="40"  placeholder="perlmaven.com" />
   </div>
   <input type="submit" value="Resolve" class="ui button" />
</form>


