<a href="/digitalocean" target="_blank"><img src="/images/ssd-virtual-servers-banner-2-728x90.jpg" /></a>
<a href="/digitalocean" target="_blank">Digital Ocean</a> is our recommended hosting company.
