    <div class="row">
        <div class="column">
            <div class="ui message main">
                <h1 class="ui header"><% template.title || title %></h1>
<% content %>

            </div>
        </div>
    </div>

