<p>
<b>Disclosure:</b> TRaceRT will not sell, trade, or disclose to third parties any customer identifiable information derived from the registration for or use of a TRaceRT online service -- including customer names and addresses -- without the consent of the customer (except as required by subpoena, search warrant, or other legal process or in the case of imminent physical harm to the customer or others).
</p>

<p>
<b>Collection and Use:</b> TRaceRT will collect and use customer identifiable information for billing purposes, to provide and change service, to anticipate and resolve problems with your service, or to create and inform you of products and services that better meet your needs. This means that TRaceRT may use your customer identifiable information, in conjunction with information available from other sources, to market new services to you that we think will be of interest to you, but we will not disclose your customer identifiable information to third parties who want to market products to you.
</p>

