Other resources for Internet research

Traceroute monitoring system<br>
<a href=http://www.visualroute.com/>Visual Route</a> desktop tool to see how your computers is reaching other sites.<br>

Commercial Performance Monitoring Systems<br>
a href=http://www.keynote.com/>Keynote</a> is definietly the market leader in Performance monitoring <br>

Other resources
<a href=http://Network-Tools.com>Network-Tools.com</a><br>
    <br>
  <a href=http://dir.yahoo.com/Computers_and_Internet/Communications_and_Networking/Software/Networking/Utilities/Traceroute/>List at Yahoo</a> <br>

  <a href=http://www.traceroute.org>Traceroute.Org</a>
     maintained by Thomas Kernen is probably the best collection I have seen.
     It is well organized, I found quite a lot of new sites on this list. 

  <a href=http://tech.c3.hu/tracetoc3.htm>C3</a> 
  a Hungarian list. All pointed back to the maintaner. 

  <a href=http://www.arin.net>Arin</a> American Registry for Internet Numbers - if you want to know
  who 'owns' an IP address.


  <a href=http://www.ripe.net>Ripe</a> Network Coordination Center (Europe)

  <a href=http://www.iana.org>Iana</a>

  <a href=http://www.apnic.org>Apnic - Aisa Pacific Network Information Centre</a>

  <a href=http://www.oreilly.com/catalog/nettroubletools/chapter/ch04.html>O'Reilly - Network Troubleshooting Tools</a>

