<frameset rows="<% rows %>">
<frame name="f" src="/gw-head">

<% FOR f IN frames %>
  <% IF f.access_type == 'GET' %>
     <frame name="gw_<% f.id %>" src="<% f.action %><% host %>">
  <% ELSE %>
     <frame name="gw_<% f.id %>" src="/post?site=<% f.id %>&ip=<% host %>">
  <% END %>
<% END %>
</frameset>

