

<ul>
<% FOR s IN gateways %>
  <% IF s.service == 'trace' %>
     <li><% s.country %> - <a href="http://<% s.homepage_url %><% s.path %>"><% s.organization %></a></li>
  <% END %>
<% END %>
</ul>

<!--
<% INCLUDE 'incl/traceroute_form.tt' %>
-->

<% IF host %>
  Traceroute to <% host %>
  
  <pre>
  <% out %>
  </pre>
<% END %>


